h2{text-align:center}
h4{text-align:center; color: #A39050;}
td{text-align: center;}
button{

	text-decoration: none;
	position: relative;
	font-size: 20px;
	line-height: 20px;
	padding: 12px 30 px;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	background: green;
	cursor: pointer;
	border: 2 px solid #BFE2FF;
	transition: transform 0.2s ease-out;
	padding: 0.2s ease-out;
	overflow: hidden;
}
button:hover,
button:active{
	color: #fff;
	transform: rotate(-2deg);
	padding: 12px 50px 12px 10px;
}
button:before{
	content: '\27A4';
	position: absolute;
	right: -30px;
	color: yellowgreen;
	transition: right 0.5s cubic-bezier(.97, .01, .97, .55);
}
button:hover::before
button:active::before{
	right: 10px;
}
button{
	position: relative;
	display: inline-block;
	width: 10em;
	height: 2.5em;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 -1px 1px #777;
	color: #fff;
	outline: none;
	border: 2px solid #F64C2B;
	border-radius: 5px;
	box-shadow: 0 0 0 60px rgba(0, 0, 0, 0) inset, .1em .1em .2em #800;
	background: linear-gradient(#FB9575, #F45A38 48%, #EA1502 52%, #F02F17);
}
button:hover{
	background: linear-gradient(#DB5931, #F45A38 48%, #EA1502 52%, #F06A58);
}
button:active{
	top:1px;
	left: 1px;
	box-shadow: 0 0 0 60px rgba(0, 0, 0, 0);
}
button{
	font-size: 20px;
	padding: 12px 30px;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	background: #337AB7;
	cursor: pointer;
	border: 2px solid #BFE2FF;
	outline: 1px solid;
	outline-color: #337AB7;
	transition: all 1.5s cubic-beziar(0.19, 1, 0.22, 1);

}
 button:hover{
 	box-shadow: inset 0 0 20px #BFE2FF;
 	outline-color: rgba(255, 255, 255, 0);
 	outline-offset: 15px;
 	color: #fff;
 }
 button:active{
 	transform: translateY(2px);
 }